.footer-network__icon:focus,
.footer-network__icon:hover {
    fill: var(--accent-color);
}

.footer-network__link:hover,
.footer-network__link:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* footer */
.footer-network {
    width: 206px;
    height: 80px;
    display: flex;
    margin-left: 70px;
    flex-wrap: wrap;
}

.footer-network__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
    padding-top: 10px;
    margin-top: 0px;
    background-position: center;
}

.footer-network__list {
    display: flex;
    align-items: center;
}

.footer-network__icon {
    list-style: none;
    margin-right: 10px;
}

.footer-network__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    fill: var(--white-color);
    transition: 250ms var(--animation-time);
}

.footer {
    background: var(--background-color-footer-hero);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.basement-nav {
    display: flex;
}

footer {
    display: flex;
}

.footer-address__link {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    transition: 250ms var(--animation-time);
}

.footer-address__link :hover,
.footer-address__link :focus {
    color: var(--accent-color);
}

.footer-address__contact {
    color: var(--footer-contact-color);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
    transition: 250ms var(--animation-time);
}

.footer-address__contact:last-child {
    margin-bottom: 0px;
}

.footer-address__contact :hover,
.footer-address__contact :focus {
    color: var(--accent-color);
}

.footer-address__contact--link {
    color: var(--footer-contact-color);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
    transition: 250ms var(--animation-time);
}

.footer-address__contact--link:last-child {
    margin-bottom: 0px;
}

.footer-logo__link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--title-text-color);
}

.footer-logo__link--web {
    color: var(--accent-color);
}

.footer-logo__link--web {
    color: var(--accent-color);
}

.footer-subscribe__header {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: start;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-subscribe {
    margin-left: 93px;
}

.footer-subscribe__box {
    display: flex;
}

.footer-subscribe__box>input {
    padding-left: 10px;
    width: 358px;
    height: 50px;
    background: var(--background-color-footer-hero);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscribe__box::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer-subscribe__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    border-radius: 4px;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
}

.footer-subscribe__icon {
    margin-left: 10px;
}
.footer-address__list {
    list-style: none;
    font-style: normal;
    margin: 0;
    padding: 0px;
}