.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: 250ms var(--animation-time);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.modal-close {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: var(--black-color);
    transition: 250ms var(--animation-time);
}

.modal-close:hover,
.modal-close:focus {
    cursor: pointer;
    fill: var(--accent-color);
}

.modal-container {
    text-align: center;
    padding: 40px;
}

.modal-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-form__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    position: relative;
    margin-right: 0px;
}

.modal-form__section:nth-last-child(3) {
    margin-bottom: 0px;
}

.modal-form__label {
    position: absolute;
    top: -18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-form__input {
    outline: none;
    padding: 20px;
}

.modal-form__input:focus {
    border: 1px solid var(--accent-color);
}

.section-icon {
    position: absolute;
    left: 12px;
    bottom: 50%;
    transform: translateY(50%);
    fill: var(--title-text-color);
}

.modal-form__section>input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 42px;
}

.modal-form__comment {
    display: block;
    margin-bottom: 0;
    margin-right: 0px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    outline: none;
}

.modal-form__input:focus~.section-icon {
    fill: var(--accent-color);
}

.modal-form__check {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.modal-form__confirm {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.modal-form__confirm>a {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.modal-form__check--input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form__check--input:checked+.modal-form__check--icon {
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
    fill: var(--white-color);
}

.modal-form__check--icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    fill: none;
    margin-right: 7px;
}

.modal-form__check--icon:hover {
    cursor: pointer;
}

.modal-form>button {
    margin: auto;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
}