.btn {
    color: var(--title-text-color);
    background-color: var(--background-color-team);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 5px;
    transition: 250ms var(--animation-time);
}

.button {
    margin-right: 8px;
    transition: 250ms var(--animation-time);


& :hover,
& :focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}}

.list-btn {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-style: normal;
    padding: 0px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
}