
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color-footer-hero: #2f303a;
    --white-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-color-team: #f5f4fa;
    --black-color: #000000;
    --color-border: #eeeeee;
    --color-bottom: #e5e5e5;
    --border-color-client: #afb1b8;
    --animation-time: cubic-bezier(0.4, 0, 0.2, 1);
}